* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #575757 url('./assets/images/background.svg') no-repeat top;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input, button {
  outline: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none !important;
}